.App {
  text-align: center;
}

.ui.cards {
  justify-content: center;
  margin: 0px 0px 0px 0px  !important;
}

.ui.input {
  padding: 24.5px 0px 24.5px 0px;
  margin: 0 auto;
  width: 24em;
}

.ui.steps {
  width: 100%;
  margin: 0px !important;
}

#date-picker-dialog-asistencia {
  border: 0px;
  text-align: center;
}

#date-picker-dialog-reportes {
  border: 0px;
  text-align: center;
}

#auto-eval-covid {
  margin-bottom: 1em;
}

#mis-reservas-button {
  margin: 0px 0px 1em 0px;
}

#soy-admin-button {
  margin: 3em 0px 1em 0px;
}

#solicitudes-pendientes {
  padding: 3em 0px 1em 0px;
}

.footerStyle {
  background-color: white;
  font-size: 20px;
  border-radius: 1px solid #E7E7E7;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  vertical-align: middle;
}

.phantomStyle {
  height: 40px;
  width: 100%;
}

.ui.horizontal.celled.list {
  margin-top: 15px;
}
